{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 030</title>
</head>
<body>
  <main>
    <!--
      In this one, we're constructing a table. Pay
      attention to all of it because pieces will
      disappear over the next couple of problems.

      Where'd it all go?

      This context has a list of Person objects stored
      in the "people" key.
    -->
    <table>
      <!-- Just the whole table head, here -->

      <!--
        The whole tbody, for loop, tr, and td tags to show
        each person's name, age, and pronouns.
      -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Pronouns</th>
        </tr>
      </thead>
      <!--
        The whole tbody, for loop, tr, and td tags to show
        each person's name, age, and pronouns.-->
        <tbody>
          <div class="name-grid">
          {% for person in people %}
          <tr>
            <div class="name-grid-entry"></div>
              <div class="name-grid-name"><td>{{person.name}}</td></div>
                <div class="name-grid-age"><td>{{person.age}}</td></div>
                  <div class="name-grid-pronouns"><td>{{person.pronouns}}</td></div>
          </tr>
        </div>
          {% endfor %}
      </div>
        </tbody>
    </table>
  </main>
</body>
</html>
